		
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="shop.html">店面展示</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="javascript:;">北京店</a></li>
		</ul>
		
		<div class="shop-conwrap">
			<h1 class="shop-contit">{{shop.title}}</h1>
			<span class="shop-conpic">
				<img src="{{shop.pic}}" style="display: block;margin:0 auto;"/>
			</span>
			<p class="shop-font14"><span class="shop-font18">特色菜品：</span>{{shop.dishes}}</p>
			<p class="shop-font14"><span class="shop-font18">营业时间：</span>{{shop.business_time}}</p>
			<p class="shop-font14"><span class="shop-font18">停车泊位：</span>{{shop.parking}}</p>
			<p class="shop-font14"><span class="shop-font18">餐厅地址：</span>{{shop.address}}</p>
			<p class="shop-font14"><span class="shop-font18">餐厅标签：</span>{{shop.tag}}</p>
			
			<a href="shop.html" class="shop-icon">返回列表页</a>
		</div>
